.week-1 {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}
.heading {
  background: var(--dark-pink);
  color: var(--white);
  text-align: center;
  margin-inline: auto;
  padding: 7px 30px;
  border: 3.3px dashed var(--border-light-pink);
  border-radius: var(--radius-lg);
  box-shadow: 0 0 11px rgb(0, 0, 0, 0.25);
  text-transform: capitalize;
}
.heading h2 {
  font-size: var(--text-lg);
  font-weight: 400;
}
.week-1 p,
.week-1 ul li {
  font-size: var(--text-md);
}
.welcome {
  letter-spacing: -1.3px;
}
.description {
  position: relative;
  margin-block: 0.2rem;
}
.description p {
  max-width: 875px;
}
.description > div {
  position: absolute;
  top: -5px;
  right: 2rem;
  height: 100%;
}
.clouds {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 0.6rem;
  text-transform: uppercase;
  margin-top: 1rem;
}
.clouds > div {
  position: relative;
}
.clouds div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-base);
  line-height: 20px;
  color: black;
}
.lesson {
  position: relative;
  margin-top: 1rem;
  background: var(--dark-pink);
  border-radius: var(--radius-lg);
  padding: 16px 45px 30px;
  margin-bottom: 1rem;
  box-shadow: 0 8px 2px rgb(0, 0, 0, 0.25);
}
.lesson ul {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.lesson > div {
  position: absolute;
  top: 5px;
  left: 15px;
  right: 15px;
  bottom: 10px;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .clouds {
    justify-content: center;
    flex-wrap: wrap;
  }
  .lesson > div {
    left: 8px;
    right: 10px;
    border-radius: var(--radius-lg);
    overflow: hidden;
  }
  .lesson > div img {
    object-position: top left;
    height: 100%;
  }
  .description p {
    text-align: left;
    max-width: 77%;
  }
  .description > div {
    right: 0.2rem;
  }
}
@media screen and (max-width: 768px) {
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  .description p {
    max-width: 100%;
    text-align: center;
    order: 2;
  }
  .description > div {
    position: relative;
    order: 1;
    margin-top: -0.8rem;
  }
  .lesson {
    padding-bottom: 4.5rem;
  }
}

@media screen and (max-width: 600px) {
  .lesson {
    color: var(--white);
    padding: 1rem 0.8rem;
  }
  .lesson > div {
    display: none;
  }
}
