@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

/* Variables */
:root {
  --light-pink: #f8d1e0;
  --dark-pink: #fe6784;
  --teal: #25a3a1;
  --light: #f7f9fe;
  --dark: #1e242f;
  --white: #fff;
  --border-light-pink: #ffaebe;
  --border-cyan: #a4fdfb;
  --border-gray: #cccccc;
  --max-width: 1876px;
  --container-width: 1194px;
  --wrapper-width: 1065px;
  --text-lg: 32px;
  --text-md: 24px;
  --text-base: 20px;
  --radius-base: 5px;
  --radius-md: 10px;
  --radius-lg: 20px;
  --border-width: 3px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: 'Short Stack', cursive;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Utility classes */
.grid-center {
  display: grid;
  place-items: center;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-teal {
  padding: 11px 14px;
  background: var(--teal);
  color: var(--white);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23A4FDFBFF' stroke-width='4' stroke-dasharray='2%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: var(--radius-base);
  box-shadow: 0 0 11px rgb(0, 0, 0, 0.25);
}

/* App Styles */
.app {
  min-height: 100vh;
  background-color: var(--light-pink);
}
.container {
  position: relative;
  padding: 70px 65px;
  grid-template-columns: 1fr;
  overflow: hidden;

  /* TODO: Remove these in case we need full width */
  max-width: var(--container-width);
  width: 100%;
  margin-inline: auto;
}

/* Top Row */
.top-row {
  position: absolute;
  top: 8px;
  left: 3px;
  right: 3px;
  display: flex;
  align-items: flex-start;
}
/* Logo */
.logo {
  width: 160px;
  height: 90px;
  margin-top: -8px;
}
/* Week Image */
.week {
  width: 153px;
}
.logo img,
.week img {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

/* Bottom Row - Buttons*/
.bottom-row {
  position: absolute;
  bottom: 12px;
  left: 65px;
  right: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Buttons (Prev & Next)*/
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.buttons .btn {
  background: none;
  cursor: pointer;
  border: none;
}

/* Week Number */
.week-number {
  position: relative;
  width: 75px;
  height: 37px;
  overflow: hidden;
}
.week-number img,
.week-number span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.week-number > img:nth-of-type(2) {
  width: 73px;
  height: 34px;
}
.week-number span {
  color: var(--white);
  font-size: var(--text-base);
  left: 34%;
}
.week-number .border img {
  left: 46px;
  height: 34px;
}
.week-number .border img:first-of-type {
  left: 45px;
}
.week-number .down-icon {
  width: 10px;
  left: 60px;
}

/* Main Content */
.wrapper {
  position: relative;
  min-height: 694px;
  padding: 20px 25px;
  background-color: var(--light);
  color: var(--dark);
  font-size: var(--text-base);
  border-radius: var(--radius-lg);
  z-index: 5;

  /* TODO: Remove this in case we need full width */
  max-width: var(--wrapper-width);
  width: 100%;
}

/* Dotted Patterns in the background */
.wrapper::before,
.wrapper::after {
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}
.wrapper::before {
  content: url('./assets/transparent-2.svg');
  top: 2.2rem;
  right: 99%;
}
.wrapper::after {
  content: url('./assets/transparent-1.svg');
  top: -1.9rem;
  left: 95%;
}

/* Icons in the background */
.column {
  position: absolute;
  top: 2.5rem;
  bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65px;
}
.left-column {
  left: -65px;
  align-items: start;
}
.right-column {
  right: -65px;
  align-items: end;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .wrapper {
    text-align: center;
    padding-inline: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --text-lg: 20px;
    --text-md: 16px;
    --text-base: 14px;
  }
  .container {
    padding-inline: 40px;
  }
  .logo {
    width: 125px;
  }
  .week {
    width: 115px;
  }
  .wrapper {
    padding-inline: 0.3rem;
  }
  .column {
    width: 40px;
  }
  .left-column {
    left: -40px;
  }
  .right-column {
    right: -40px;
  }
}
